body {background-color: black;} 

@font-face {
font-family: 'Montserrat';
src: 
url('../Montserrat/Montserrat-Regular.ttf') format('truetype'),
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Quicking';
src: 
url('../Quicking/QuickingRegular.ttf') format('truetype'),
font-weight: normal;
font-style: normal;
}

.em-wide {
  letter-spacing: 0.1em;
}

h1 {
  font-family: Quicking;
  color: white;
  }
h2 {
  font-family: Quicking;
  color: white;
}
p {
  font-family: Quicking;
  color: white;
  line-height: 1.3;
}
body {
  font-family: Quicking;
  color: white;
  line-height: 1.3;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  }
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  }
a:hover {
  color: lightgrey;
  background-color: transparent;
  text-decoration: underline;
  }
a:active {
  color: lightgrey;
  background-color: transparent;
  text-decoration: underline;
  }

.vertcenter {
      display: flex;
      align-items: center;
    } 
