body {background-color: black;} 
h1 {
  font-famly: Montserrat;
  color: white;
  }
h2 {
  font-famly: Montserrat;
}
p {
  font-famly: Montserrat;
  color: white;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  }
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  }
a:hover {
  color: lightgrey;
  background-color: transparent;
  text-decoration: underline;
  }
a:active {
  color: lightgrey;
  background-color: transparent;
  text-decoration: underline;
  }

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
